<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <title>Error</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">Whoops, da ist leider etwas schief gelaufen..</h3>
    <div class="margin-top20 text-center">
        <p>Bitte versuchen Sie es einfach gleich nochmal!</p>
        <p>Falls der Fehler in 5 Minuten immer noch auftritt, kontaktieren Sie bitte den Support!</p>
    </div>
    <div class="margin-top20 text-center">
        <a href="/flug">zurück zur Startseite</a>
    </div>
</div>
</body>
</html>