<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <title>Error</title>
</head>
<body>
<div class="container">
    <h3 class="text-center">Fehler</h3>
    <div class="margin-top20 text-center">
        <p>Keine gültige Flugnummer! Bitte überprüfen Sie Ihre Eingabe und versuchen es erneut.</p>
    </div>
    <div class="margin-top20 text-center">
        <a href="/flug">Andere Flugnummer suchen</a>
    </div>
</div>
</body>
</html>