<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Flugnummer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
<h1>Flugstatus</h1>
<h3>Geben Sie Ihre Flugnummer ein:</h3>
    <div>
            <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
            <p>Flugnummer: <input type="text" placeholder="AH67R45" th:field="*{flugnummer}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
    </div>
</div>
</body>
</html>