<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flugstatus</title>

</head>
<body>
<div class="container">
    <h1>Geben Sie ihre Flugnummer ein:</h1>
    <input type="flugnummer" id="flugnummer" name="flugnummer" class="form-control" placeholder="Flugnummer" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Suchen</button>
    <div class="margin-top20 text-center"> Brauchen sie Hilfe? <a th:href="@{/README.md}">gehen SIE zur README</a></div>
</div>
</body>
</html>
